.markFr-whole{
    max-width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    color: #141405;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
@media all and (max-width:887px) {
    .markFr-whole{
        margin-top: 5vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
}
@media all and (max-width:720px) {
    .markFr-whole{
        margin-top: 5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
}
@media all and (max-width:490px) {
    .markFr-whole{
        margin-top: 5vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
}
/* --text: #141405;
--background: #ffffff;
--primary: #caeaae;
--secondary: #b6ecb8;
--accent: #2caa30; */
.markFr-main{
    background-color: #ffffff;
}

.hide-check{
    display: none;
}
/* CSS */
.button-54 {
    margin-top: 50px;
    margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}